@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Kanit&family=PT+Sans+Caption&family=Sacramento&display=swap");

body {
  margin: 0;
  padding: 0;
}

.header {
  background-image: url("img/challenge_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 90px;
  height: 800px;
}

.h_title {
  font-family: "Sacramento", cursive;
  font-size: 110px;
  color: #66bfbf;
  margin-bottom: 30px;
}

.semi_title {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 43px;
  color: #66bfbf;
}

.introduce {
  margin-bottom: 70px;
}

hr {
  margin: 50px auto;
}

.content {
  text-align: center;
  width: 1200px;
  margin: 70px auto;
}

.skill_title {
  margin: 80px 10px;
}

.imgBox {
  display: inline-block;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.dot {
  border: dotted;
  color: #eaf6f6;
  width: 50px;
}

.design {
  display: block;
  height: 220px;
  margin-left: 185px;
}

.hot_wing {
  height: 220px;
  margin-right: 185px;
}

h3 {
  color: #11999e;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
}

p {
  font-family: "Kanit", sans-serif;
}

.left {
  float: left;
  margin-left: 40px;
}

.right {
  float: right;
  margin-right: 50px;
}

.text {
  width: 500px;
  text-align: left;
}

.footer {
  background-color: #66bfbf;
  text-align: center;
  margin: 0;
  padding: 15px;
}

.links {
  margin: 15px;
}

.link {
  color: #11999e;
  text-decoration: none;
  margin: 10px 15px;
  font-size: 14px;
}

.copy_right {
  color: #eaf6f6;
  font-size: 12px;
  margin-top: 15px;
}

.contact {
  background: #66bfbf;
  background-image: -webkit-linear-gradient(top, #66bfbf, #58a5a5);
  background-image: -moz-linear-gradient(top, #66bfbf, #58a5a5);
  background-image: -ms-linear-gradient(top, #66bfbf, #58a5a5);
  background-image: -o-linear-gradient(top, #66bfbf, #58a5a5);
  background-image: linear-gradient(to bottom, #66bfbf, #58a5a5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #ffffff;
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 100;
  padding: 10px;
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.contact:hover {
  border: solid #337fed 1px;
  background: #1e62d0;
  background-image: -webkit-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -moz-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -ms-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -o-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: linear-gradient(to bottom, #1e62d0, #3d94f6);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  text-decoration: none;
}

button {
  border: none;
  border-radius: 10px;
  background-color: none;
  padding: 0;
}
